/* ==== 原本網站已有的 css ==== */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343434;
    text-align: left;
    background-color: #F2F4FF;
}

.ez-btn-md {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2rem;
}

.btn:focus,
.btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover {
    opacity: 0.5;
}

.btn-outline-primary {
    position: relative;
    color: #5E52F6;
    background-color: transparent;
    font-weight: 700;
    border: none;
}

.btn-outline-primary:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 2px;
    border-color: #5E52F6;
    border-style: solid;
    border-radius: 2rem;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #9058F5;
    border-color: #9058F5;
}

.btn-outline-primary:hover {
    color: #5E52F6;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #9058F5;
    border-color: #9058F5;
}

.btn-primary {
    color: #fff;
    background-image: linear-gradient(30deg, #8B82F9, #5E52F6);
    border: none;
    border-radius: 2rem;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7028f2;
    border-color: #681cf1;
}

.btn-primary:hover {
    color: #fff;
    background-color: #7834f3;
    border-color: #7028f2;
}

/* header */
.ez-nav.nav_scrollbg {
    background-color: #fff;
    height: 66px;
}

.ez-nav {
    width: 100%;
    -webkit-transition: box-shadow 0.3s, background-color 0.3s;
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
}
/* content */
.wrap-content {
    margin-top: 68px;
}

/* ==== 原本網站已有的 css end ==== */

/* ==== 本次切版新增 css ==== */
.page-title {
    margin-bottom: 0;
}
.page-title img {
    vertical-align: top;
}

.bottom-btn-div {
    text-align: center;
}

.bottom-btn-div button {
    margin: 20px 10px;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

/* ----- shoppingInfo.html ----- */
.course-row {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.3s;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    border-radius: 11px;
}
.course-tr {
    padding: 10px 20px;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.5rem 0.5rem 0 0;
}

.course-td {
    ;
    /* display: flex;
    flex-direction: column; */
}

/* .course-info {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 20px;
} */

.course-img {
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.course-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-div {
    display: flex;
    flex-direction: row;
}

.course-name {
    ;
    /* display: flex;
    flex-direction: column; */
}

.th-title {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 10px;
    padding: 10px 0;
}

.one-amount {
    color: #f72525;
    font-weight: 600;
    font-size: 18px;
}

.tool-div {
    background-color: #ffffff;
    text-align: right;
    padding: 15px;
    border-radius: 0 0 11px 11px;
}

.add-favorite {
    display: inline-block;
    margin-right: 20px;
    color: #5E52F6;
    cursor: pointer;
}

.add-favorite:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.delete-course {
    display: inline-block;
    cursor: pointer;
}

.delete-course:hover {
    color: #f72525;
    transition: 0.3s;
}

@media(max-width:768px) {
    .th-title {
        display: none;
    }
}
/* ----- confirmPayment.html ----- */
.settlement {
    text-align: right;
    margin-top: 15px;
}

.handling-fee-title {
    display: inline-block;
}

.handling-fee-sum {
    width: 160px;
    display: inline-block;
}

.actually-title {
    display: inline-block;
    color: #343434;
    font-size: 24px;
    font-weight: 600;
}

.total-sum {
    width: 160px;
    display: inline-block;
    color: #f72525;
    font-weight: 600;
    font-size: 24px;
}

.pay-info {
    background-color: #ffffff;
    border-top: 6px solid #9058F5;
    padding: 15px;
}

.info-title {
    font-weight: 600;
}

.info-p {
    color: #656565;
    margin-top: 6px;
}


/* table rwd */
.rwd-table {
    position: relative;
    top: -15px;
    background: #fff;
    overflow: hidden;
}

.rwd-table tr:nth-of-type(2n) {
    background: #fff;
}
.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table {
    min-width: 100%;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table .settlement-tr td:before {
    content: attr(data-th) "";
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table th,
.rwd-table td:before {
    color: #333;
    font-weight: bold;
}

.rwd-table tr {
    border-bottom: solid 3px #eee;
}

.rwd-table th {
    color: #ffffff;
    background-color: #9058F5;
}

.rwd-table th:first-child {
    border-radius: 11px 0 0 0;
}

.rwd-table th:last-child {
    border-radius: 0 11px 0 0;
}

.settlement-tr td {
    border-radius: 0 0 10px 10px;
}

@media(min-width: 480px) {
    .rwd-table tr {
        border-bottom: solid 1px #eee;
    }
    .rwd-table td:before {
        display: none;
    }
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}
