/* ======== 原本網站已有的 css ======== */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343434;
    text-align: left;
    background-color: #F2F4FF;
}

.ez-btn-md {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2rem;
}

.btn:focus,
.btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover {
    opacity: 0.5;
}

.btn-outline-primary {
    position: relative;
    color: #5E52F6;
    background-color: transparent;
    font-weight: 700;
    border: none;
}

.btn-outline-primary:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 2px;
    border-color: #5E52F6;
    border-style: solid;
    border-radius: 2rem;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #9058F5;
    border-color: #9058F5;
}

.btn-outline-primary:hover {
    color: #5E52F6;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #9058F5;
    border-color: #9058F5;
}

.btn-primary {
    color: #fff;
    background-image: linear-gradient(30deg, #8B82F9, #5E52F6);
    border: none;
    border-radius: 2rem;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7028f2;
    border-color: #681cf1;
}

.btn-primary:hover {
    color: #fff;
    background-color: #7834f3;
    border-color: #7028f2;
}

.btn-outline-primary a {
    color: #5E52F6;
}

.btn-primary a {
    color: #fff;
}

/* header */
.ez-nav.nav_scrollbg {
    background-color: #fff;
    height: 66px;
}

.ez-nav {
    width: 100%;
    -webkit-transition: box-shadow 0.3s, background-color 0.3s;
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
}

@media(max-width: 768px) {
    .navbar-right {
        display: none;
    }
}
/* content */
.wrap-content {
    margin-top: 68px;
}

/* ======== 原本網站已有的 css end ======== */


/* ======== 本次切版新增 css ======== */
.btn-outline-secondary {
    color: #5E52F6;
    border-color: #5E52F6;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #5E52F6;
    border-color: #5E52F6;
    opacity: 1;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #5E52F6;
    border-color: #5E52F6;
}

.page-title {
    margin-bottom: 0;
}

.page-title img {
    vertical-align: top;
}

.bottom-btn-div {
    text-align: center;
}

.bottom-btn-div button {
    margin: 20px 10px;
    max-width: 200px;
    width: 100%;
}

.actually-title {
    display: inline-block;
    color: #343434;
    font-size: 24px;
    font-weight: 600;
}

.total-sum {
    display: inline-block;
    color: #f72525;
    font-weight: 600;
    font-size: 24px;
}

.form-control:focus {
    border-color: #665bf7;
    outline: 0;
    box-shadow: none;
}

.coupon-collapse {
    padding: 20px 0;
}

.coupon-card {
    background-color: #dcdcdc;
    padding: 25px 20px;
    border-radius: 11px;
    display: flex;
    margin: 20px 0;
}

.coupon-dotted {
    border-right: 2px dashed #ffffff;
    margin-left: 24px;
    margin-right: 32px;
}

.coupon-title {
    font-size: 24px;
    min-width: 130px;
    min-height: 100px;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.coupon-content {
    width: 100%;
}

.use-coupon-btn {
    min-width: 120px;
    text-align: right;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.coupon-detail {
    display: block;
    margin: 10px 0;
    margin-top: 22px;
}

.coupon-date {
    display: block;
    margin: 10px 0;
}

.btn-selected {
    background-color: #5E52F6;
    color: #ffffff;
}

@media(max-width: 768px) {
    .coupon-card {
        display: block;
        padding: 15px;
    }

    .coupon-dotted {
        margin: 16px 0;
        border-right: none;
        border-bottom: 2px dashed #ffffff;
    }

    .use-coupon-btn {
        margin-top: 25px;
    }

    .coupon-title {
        min-height: 60px;
    }
}

/* ----- shoppingInfo.html ----- */
.course-row {
    background-color: #ffffff;
    margin: 15px 0;
    padding: 10px;
}

.border-radius-shadow {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.3s;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    border-radius: 11px;
}
.course-th {
    padding: 10px 20px;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.5rem 0.5rem 0 0;
}

.course-tr {
    background-color: #ffffff;
    padding: 0 20px 10px;
}
.course-td {
    display: inline-block;
    float: left;
}

.td-1 {
    width: 10%;
}

.td-2 {
    width: 20%;
}
.td-3 {
    width: 30%;
}

.td-hr {
    border-top: 2px solid #eeeeee;
    margin: 0 20px;
}

.course-img {
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.course-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-div {
    display: flex;
    flex-direction: row;
}

.course-name {
    padding-right: 10px;
}

.th-title {
    border-bottom: 2px solid #eeeeee;
    padding: 10px 0;
}

.one-amount {
    color: #f72525;
    font-weight: 600;
    font-size: 18px;
}

.discount {
    margin-top: 6px;
}

.tool-div {
    text-align: right;
    padding: 10px 15px;
    border-radius: 0 0 11px 11px;
}

.add-favorite {
    display: inline-block;
    margin-right: 20px;
    color: #5E52F6;
    cursor: pointer;
}

.add-favorite:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.delete-course {
    display: inline-block;
    cursor: pointer;
}

.delete-course:hover {
    color: #f72525;
    transition: 0.3s;
}

.td-group-3 .price-title {
    display: none;
}

.shopping-cart-account {
    background-color: #ffffff;
    padding: 20px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #7028f2;
    background-color: #7028f2;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after,
.custom-checkbox,
.custom-control-label {
    cursor: pointer;
}

.discount-code-input {
    display: inline-block;
    width: 200px;
    margin-left: 15px;
    border-radius: 0.5rem 0 0 0.5rem;
}

.coupon-input {
    display: inline-block;
    width: 154px;
    margin-left: 15px;
    border-radius: 0.5rem 0 0 0.5rem;
}

.shopping-cart-account .custom-control-label {
    vertical-align: middle;
}

.group-input {
    position: relative;
    display: inline-block;
}

.group-input-btn {
    position: relative;
    vertical-align: top;
    left: -5px;
    border-radius: 0 0.5rem 0.5rem 0;
    border: solid 1px #8B82F9;
}

.group-cancel-btn {
    background-color: #e6e6e6;
    color: #343434;
    border: 1px solid #ced4da;
}

.confirm-coupon {
    text-align: center;
    margin-top: 15px;
}
@media(max-width:1024px) {
    .th-title {
        display: none;
    }

    .td-group-1.td-1 {
        width: 100px;
    }

    .td-group-1.td-3 {
        width: calc(100% - 100px);
        min-height: 65px;
    }

    .td-group-2.td-1 {
        width: 100%;
    }

    .td-group-2 .course-status {
        text-align: right;
    }

    .td-group-3.td-1 {
        width: 50%;
    }

    .td-group-3 .price-title {
        display: inline-block;
    }

    .td-group-3 .course-price {
        text-align: right;
    }

    .td-group-4.td-2 {
        width: 50%;
    }

    .discount-code-input,
    .coupon-input {
        margin-left: 0;
    }

    .group-input {
        margin-top: 10px;
    }
}
/* ----- confirmPayment.html ----- */
.settlement {
    text-align: right;
    margin-top: 15px;
}

.handling-fee-title {
    display: inline-block;
}

.handling-fee-sum {
    width: 170px;
    display: inline-block;
}

.settlement .total-sum {
    width: 170px;
}

.pay-info {
    background-color: #ffffff;
    border-top: 6px solid #9058F5;
    padding: 15px;
}

.info-title {
    font-weight: 600;
}

.info-p {
    color: #656565;
    margin-top: 6px;
}


/* table rwd */
.rwd-table {
    position: relative;
    top: -15px;
    background: #fff;
    overflow: hidden;
}

.rwd-table tr:nth-of-type(2n) {
    background: #fff;
}
.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table {
    min-width: 100%;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table .settlement-tr td:before {
    content: attr(data-th) "";
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table th,
.rwd-table td:before {
    color: #333;
    font-weight: bold;
}

.rwd-table tr {
    border-bottom: solid 3px #eee;
}

.rwd-table th {
    color: #ffffff;
    background-color: #9058F5;
}

.rwd-table th:first-child {
    border-radius: 11px 0 0 0;
}

.rwd-table th:last-child {
    border-radius: 0 11px 0 0;
}

.settlement-tr td {
    border-radius: 0 0 10px 10px;
}

.pay-method,
.invoice-info {
    margin-top: 10px;
}

@media(min-width: 768px) {
    .rwd-table tr {
        border-bottom: solid 1px #eee;
    }
    .rwd-table td:before {
        display: none;
    }
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

/* ----- paymentMethod.html  ----- */
.custom-select {
    position: relative;
    font-family: Arial;
    height: 38px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    line-height: 38px;
    padding: 0 10px;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #ffffff;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #898989 transparent transparent transparent;
}

.select-selected:after {
    right: 20px;
    border: 8px solid transparent;
    border-color: #898989 transparent transparent transparent;
}

.select-selected {
    color: #53595f;
    padding: 0 50px 0 0;
    cursor: pointer;
    user-select: none;
    width: 100%;
    background-color: #ffffff;
    border: none;
    height: 35px;
}

.select-items div {
    color: #53595f;
    padding: 2px 10px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    background-color: #ffffff;
    border: none;
    height: 35px;
    line-height: 35px;
    z-index: 99;
}

.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: solid 1px #eee;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.fun-title {
    font-size: 22px;
    font-weight: 500;
}

.order-detail-div {
    background-color: #ffffff;
    border-radius: 11px;
    padding: 20px;
}

.order-detail {
    /* border: 1px solid #c1c1c1; */
    padding: 15px;
}

.pay-method-div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 11px;
}

.pay-select {
    width: calc(50% - 20px);
    display: inline-block;
}

.pay-select:first-child {
    margin-right: 10px;
}

.invoice-form .form-group {
    width: 100%;
}

.invoice-form .form-control {
    width: 60%;
}

.small-red {
    font-size: 14px;
    color: #f72525;
}

.fixed-block {
    position: fixed;
    width: calc(100% * 0.33333333 - 30px);
    max-width: calc(1140px * 0.33333333 - 30px);
}

.order-detail-div .bottom-btn-div button {
    margin-bottom: 0;
}

@media(min-width: 768px) and(max-width: 991.99px) {
    .mdtext-right {
        text-align: right;
    }
}

@media(max-width: 768px) {
    .fixed-block {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .invoice-form .form-control {
        width: 100%;
    }

    .pay-select {
        width: 100%;
    }
}
